<li class="nav-header" id="nav-header" >
    <div class="dropdown profile-element" style="text-align:left;">
        <a data-toggle="dropdown" class="dropdown-toggle" href="{{ path('adm_core_home') }}">
            <span class="clear">
                <span class="block m-t-xs">
                    <h4 class="font-bold">Atlas des<br/>Agricultures du Monde </h4>
                </span>
            </span>
        </a>
</div>
    <div id="custom-search-input" class="input-group nav-label">
<span class="input-group-btn">
                            <button type="button" class="btn btn-primary">
                                <i class="fa fa-search" style="z-index: 999"></i>
                            </button>
                        </span>
        <input class="form-control" type="text" style="background-color: white;
            opacity: 0.2;margin: auto;">

    </div>
<div class="logo-element">
    Atlas
</div>
</li>