<li class="active">
    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Explorer</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href={{ path('adm_leaflet_worldmap') }}>Atlas mondial</a></li>
        <li ><a href="#">Pays<span class="label pull-right">En cours</span></a></li>
        <li ><a href="#">Productions<span class="label pull-right">En cours</span></a></li>
    </ul>
</li>
<li>
    <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">Messages </span><span class="label label-warning pull-right">16/24</span></a>
    <ul class="nav nav-second-level">
        <li><a href="mail_compose.html">Nouveau</a></li>
        <li><a href="mailbox.html">Reçus</a></li>
        <li><a href="mailbox.html">Envoyés</a></li>
    </ul>
</li>
