<li class="active">
    <a href="#"><i class="fa fa-th-large"></i> <span class="nav-label">Explorer</span> <span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
        <li><a href={{ path('adm_leaflet_worldmap') }}>Atlas mondial</a></li>
    </ul>
</li>
