<div class="small-chat-box fadeInRight animated" style="z-index: 9999;">
    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            02.19.2015
        </small>
        Live chat
    </div>

    <div class="content">

        <div class="left">
            <div class="author-name">
                Monica Jackson <small class="chat-date">
                10:02 am
            </small>
        </div>
        <div class="chat-message active">
            Salut Hugo, j'espère que tu vas bien.
        </div>

    </div>
    <div class="right">
        <div class="author-name">
            Mick Smith
            <small class="chat-date">
                11:24 am
            </small>
        </div>
        <div class="chat-message">
            Salut Hugo, j'espère que tu vas bien.
        </div>
    </div>
    <div class="left">
        <div class="author-name">
            Alice Novak
            <small class="chat-date">
                08:45 pm
            </small>
        </div>
        <div class="chat-message active">
            Salut Hugo, j'espère que tu vas bien.
        </div>
    </div>
</div>
<div class="form-chat">
    <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
        class="btn btn-primary" type="button">Envoyer
    </button> </span></div>
</div>

</div>
<div id="small-chat" style="z-index: 9999;">

    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
        <i class="fa fa-comments"></i>

    </a>
</div>