<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="cbp-slider">
            <ul class="cbp-slider-wrap">
                <li class="cbp-slider-item">
                    <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/918693" class="cbp-lightbox">
                        <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/8dc8ef">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/edd61b" class="cbp-lightbox">
                        <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/8b6ba0" alt="">
                    </a>
                </li>
                <li class="cbp-slider-item">
                    <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/eb6888" class="cbp-lightbox">
                        <img src="http://scriptpie.com/cubeportfolio/img/?i=380x285/8dc8ef" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">{{ report.name }}
            </div>
        <div class="cbp-l-inline-subtitle">by Paul Flavius Nechita</div>

        <div class="cbp-l-inline-desc">{{ report.abstract | raw }}</div>

        <a href="{{ url('adm_report_read', { 'slug': report.slug }) }}" target="_blank" class="cbp-l-inline-view">LIRE</a>
    </div>
</div>

